<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<style>
body, div, p, table, tr, th, td, span, h1, h2, h3, h4, ul, li { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal; }

h1 {
	font-size: 25px;
	font-family: Montserrat, Helvetica, arial, sans-serif !important;
	display: block;
	padding: 2px 0px 0px 8px;
	}

.homeheader1, .homeheader1 h1, .sysname { 
	display: block;
	margin: 2px; 
	padding-top: 5px;
	font-family: Montserrat, Helvetica, arial, sans-serif !important;
	font-size: 25px;
	text-align: left;
	}
	
#qheader1, #qheader h1{
	display: block;
	margin-top: 14px;
	margin-bottom: 7px;
	margin-left: 4px;
	margin-right: 4px;
	font-family: Montserrat, Helvetica, arial, sans-serif !important;
	text-align: left;
}
	 
.askwrapper {
	font-size: 25px;
	font-family: Montserrat, Helvetica, arial, sans-serif !important;
	color: #000;
}
.askwrapper {
	position: static;
	display: block !important;
	margin-left: 10px;
}
#askformcontain{
	font-size: 25px;
	font-family: Montserrat, Helvetica, arial, sans-serif !important;
	color: #000;
}	

#askformcontain{
	position: relative;
	display: block !important;
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 5px 0px 0px 0px !important;
} 

body, p, ul, li {
	font-size: 14px; 
	color: #000;
	}
a {
	color: #1f8acc;
}

body {
	background: none !important;
	background-color: none !important;
	min-height: 100%; height: 100%;
	
}

#qformbutton {
	background-color: #bbbbbb;
	border: 1px solid #aaaaaa;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
} 

#qformbutton{
	color: #000;
	font-family: Montserrat, Helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: normal !important;

}

.askbutton{
		padding: 2px 10px !important;
}

#search_top {
	background-color: #fff;
	border-bottom: none;
}

 /* top navigation breadcrumbs */

.topnav {
	display: block;
	padding: 13px 12px;
	background-color: rgb(232, 232, 232);
	font-size: 14px;
	line-height: 16px;
}

.breadcrumbs, #breadcrumbsl, #breadcrumbsr { 
	color:#000; 
	font-weight:normal; 
	font-size:12px; }

.breadcrumb_spacer { 
	padding:5px; }


/*band below tabs, with title of page and search box*/
.stitle{
	background-image: none;	
	background-color: rgb(232, 232, 232);
	text-align: left;
	padding: 10px 12px;
	margin-bottom: 0px !important;
}

#content{
	padding: 0px;
	border-bottom: 1px solid #b2b2b2;
}

#content, #contentleft, #contentcenter, #content_home_r {
	display: block;
	float: left;
	min-height: 100%;
	width: 100%;
	height: 100%;
	background-color: #e8e8e8 !important;
	}

#contentleft, #contentcenter, #contentright {
	margin: 4px;
}
#contentcenter{
	margin-left: 4px;
}

#content_home_r{
	margin-top: 4px;
}

#contentright {
	min-height: 100%;
	height: 100%;
	float: left;
	margin-left: 0;
	min-height: 100%;
	width: 284px;
	margin-right: 0px;
	background-color: #fff;
}

#moreways{
	float: right;
	margin-bottom: 17px;
	padding: 10px;
}

#contentxwide{
	background: none !important;
	border: none !important;
}

/* boxes inside content container */
.headerbox{
	background-image: none !important;
	background-color: #bbbbbb !important;
	margin-bottom: 0px !important;
	padding: 4px 4px 5px 5px;
}

.roundbox headerbox {
	background-color: #bbbbbb !important;
	border-radius: 0px !important;
	margin-bottom: 0px !important;
	}

.headerbox h2 {
	color: #000 !important;
	font: 14px Montserrat, Helvetica, arial, sans-serif !important;
	display: block;
}

.outerbox {
	background-color: #e8e8e8 !important;
	padding: 0px !important;
	margin: 0px 8px 8px 8px !important;
	}

.roundbox outerbox {
	background-color: #e8e8e8 !important;
	border-radius: 0px !important;
	margin: 0px;
	}

.roundbox innerbox {
	background-color: #FFFFFF;
	border-radius: 0px !important;
	border-top: none;
	padding: 16px;
} 

#mwlist, .leftmwcol{
	margin: 0px !important;
}

.innerbox{
	border: 1px solid #bbbbbb !important;
}	

#recentpopular{
	margin-top: 16px !important;
}

#footer{
	width: 100%;
	background: none !important;
	border-top: none !important;
	margin-left: 10px;
	padding: 0px 10px 15px 5px;
	text-align: left;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
</style>